<!DOCTYPE html>
<html>
  <head>
    <title>Anubhuti</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="javascript/script.js"></script>
  </head>
  <body>
    <%- include('./assets/header') %>
 <div class="container m-5 text-primary h2" style="padding-top:10px ; text-size-adjust: 36px;">
  Newly Arrived 
</div>
    <div id="tbody" style="display: flex; overflow-y: hidden;">
      <%  for (let book = 0; book < newly_arrived.length; book++) {
        // console.log(newly_arrived);
        const element = newly_arrived[book];%>
        
       <div class="card-group ">
      <div class="img_box card">
        <img src="<%= element.img %>" alt="Avatar" class="image" style="width: 200;">
        <div class="overlay">
          <div class="text" ><p> <%= element.name %><br> <%= element.author %>
          </p></div>
        </div>
    </div>

   
</div>

        
        
     <%
     
   }
     %>
     
  </div>
    </div>

    <div class="container m-5 text-primary h2" style="padding-top:10px ; text-size-adjust: 36px;">
      Featured 
    </div>
        <div id="Featured" style="display: flex; overflow-y: hidden;">
    
          <%  for (let new_books = 0; new_books < featured_books.length; new_books++) {
        // console.log(featured_books);
        const new_bookss = featured_books[new_books];%>
        
       <div class="card-group ">
      <div class="img_box card">
        <img src="<%= new_bookss.img %>" alt="Avatar" class="image" style="width: 200;">
        <div class="overlay">
          <div class="text" ><p> <%= new_bookss.name %><br> <%= new_bookss.author %>
          </p></div>
        </div>
    </div>

   
</div>

        
        
     <%
     
   }
     %>

        </div>
        <div class="container m-5 text-primary h2" style="padding-top:10px ; text-size-adjust: 36px;">
          Top Academic 
        </div>
            <div id="Featured2" style="display: flex; overflow-y: hidden;">
        
              
          <%  for (let academic_book = 0; academic_book < top_academic.length; academic_book++) {
        // console.log(featured_books);
        const academic_books = top_academic[academic_book];%>
        
       <div class="card-group ">
      <div class="img_box card">
        <img src="<%= academic_books.img %>" alt="Avatar" class="image" style="width: 200;">
        <div class="overlay">
          <div class="text" ><p> <%= academic_books.name %><br> <%= academic_books.author %>
          </p></div>
        </div>
    </div>

   
</div>

        
        
     <%
     
   }
     %>

            </div>












    </div>

    <%- include('./assets/footer') %>
  </body>
</html>
